.home-page {
    display: grid;
    grid-template-columns: 60% 40%;
}


.left-part {
    background-color: #F5F5F5;
    height: 1000px;
    padding-left: 20%;
}

.right-part {
    background-color:rgb(201,148,132);
    height: 1000px;
}

.Navbar {
    display: flex;
}
.pages {
    display: flex;
    margin: 30px;
    gap: 20px;
}

.pages > a{
    text-decoration: none;
    color: black;
}

.social-media-icon {
    display: flex;
    gap: 10%;
}


.login-from {
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: -150px;
    padding-left: 25px;
    background-color: white;
    border: 4px solid rgb(158, 155, 149);
    
} 

.name-section {
    display: flex;
    gap: 10px;
}

input{
    width: 260px;
    height: 20px;
    border: 1px solid#a5a2a2;
    background-color: #FAFAFA;
    margin-top: 2px;
    margin-bottom: 10px;
}

.name-section > input {
    width: 120px;
    height: 20px;
    border: 1px solid#a5a2a2;
}

.btn {
    margin-top: 20px;
    color: rgb(201,148,132);
    width: 130px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(201,148,132);
}

.Comments-section > input {
    height: 65px;
}

.navbar-heading {
    color: rgb(201,148,132);
}

.heading {
  font-size: 30px;
}
.text-heading {
    color: rgb(214, 211, 211);
}

.label-of-info {
    margin-bottom: -10px;
}

.user-info {
    font-size: 16px;
    font-weight: 600;
    color: #706d6d;
}

.social-media-heading {
    margin-top: 50px;
    color: rgb(201,148,132);
}

.labels > span {
    color: red;
}